@model EmployeeEditViewModel

@{
    ViewData["Title"] = "Edit";
   // var Departments = new SelectList(ViewData["Departments"] as IEnumerable<DepartmentDto>, nameof(DepartmentDto.Id), nameof(DepartmentDto.Name));
}

<h1 class="col-8 my-3">Edit Employee </h1>

<partial name="Partial/CreatedEditEmployeePartial"/>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
@*      <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
             *@
}