@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            Reset Password Link Has Been Set To Your Email , Please Check Your Inbox
        </div>
        <br />
        <a href="https://mail.google.com/mail/u/0/#inbox">Go to your Inbox</a>
    </div>
</div>

